h1{text-emphasis: bold;
    text-align: center;
    font-size: xxx-large;
    color: black;
}
body{ background-image: url(//cnn.it/39By0L9);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}
.text{color: blanchedalmond;

}
h2{text-align: center;
text-emphasis: bold;
color: blanchedalmond;}