body{
    background-image: url(https://bit.ly/2SOA8bL);
}

#heading{text-align: center;
}

img{
    width: 50%;
    border-radius: 10px;
}

.jumbotron{
    border-radius: 10px;
    margin-top: px;
}

input[type=number]{
    margin: 3px;
    border-radius: 5px;
    height: 40px;
}

input[type=reset]{
    margin: 3px;
    margin-left: 50px;
    font-size: 20px;
}

::placeholder{
    font-size: 15px;
    padding-left: 10px;
    color: brown;
}

#result{
    color:rgb(0, 81, 134);
    background-color: whitesmoke;
    padding: 5px;
    text-align: center;
}
.footer{text-emphasis:bold;
    text-align: center;
    font-size: xx-large;
}

